/* --------------- DEAFULT STYLES --------------- */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}
/* --------------- DEAFULT STYLES /--------------- */

/* --------------- FONT STYLES --------------- */
.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.page-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.page-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* --------------- FONT STYLES /--------------- */

/* --------------- HEADER STYLES --------------- */
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  display: inline-block;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo-span {
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.address-container {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-info {
  color: #434455;
}

.address-info:hover,
.address-info:focus {
  color: #404bbf;
}
/* --------------- HEADER STYLES /--------------- */

/* --------------- HERO STYLES --------------- */
.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  display: block;
  height: 56px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* --------------- HERO STYLES /--------------- */

/* --------------- BENEFITS STYLES --------------- */
.benefits {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  max-width: 264px;
}

.page-title {
  margin-bottom: 8px;
}
/* --------------- BENEFITS STYLES /--------------- */

/* --------------- TEAM STYLES --------------- */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  gap: 24px;
  align-items: center;
  text-align: center;
}

.team-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.card-box {
  padding-top: 32px;
  padding-bottom: 32px;
}
/* --------------- TEAM STYLES /--------------- */

/* --------------- PORTFOLIO STYLES --------------- */
.portfolio {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.second-card-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}
/* --------------- PORTFOLIO STYLES /--------------- */

/* --------------- FOOTER STYLES --------------- */
.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo-span {
  color: #f4f4fd;
}

.page-footer .logo-link {
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
}
/* --------------- FOOTER STYLES /--------------- */
